export POSTGRES_USER=sandbox
export POSTGRES_PASSWORD=wjYKTKwFXqRdB0zf
export POSTGRES_DB=sandbox_db
export POSTGRES_PORT=5432
export SOURCE_POSTGRES_HOST=source-db
export SOURCE_POSTGRES_PORT=15432
export DEST_POSTGRES_HOST=dest-db
export DEST_POSTGRES_PORT=25432
